.slider {
  position: relative;
  height: 85vh;
}

.slider-img {
  width: 65vw;
  height: 75vh;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 48%;
  right: -8rem;
  font-size: 3rem;
  color: var(--color-red);
  z-index: 10;
  user-select: none;
  transition: 0.5s ease-in-out;
}
.right-arrow:hover {
  color: var(--color-hover);
}

.left-arrow {
  z-index: 10;
  user-select: none;
  position: absolute;
  top: 48%;
  left: -8rem;
  font-size: 3rem;
  color: var(--color-red);
  transition: 0.5s ease-in-out;
}
.left-arrow:hover {
  color: var(--color-hover);
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* for small to medium mobiles */
@media screen and (max-width: 361px) and (min-width: 320px) {
  .slider-img {
    width: 85vw;
    height: 70vh;
  }
  .right-arrow {
    right: 0.5rem;
    font-size: 1.5rem;
  }
  .left-arrow {
    left: 0.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) and (min-width: 362px) {
  .slider-img {
    width: 85vw;
    height: 70vh;
  }
  .right-arrow {
    right: 0.5rem;
    font-size: 2rem;
  }
  .left-arrow {
    left: 0.5rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 440px) and (min-width: 401px) {
  .slider-img {
    width: 85vw;
    height: 60vh;
  }
  .right-arrow {
    right: 0.5rem;
    font-size: 2rem;
  }
  .left-arrow {
    left: 0.5rem;
    font-size: 2rem;
  }
}

/* for medium to tablets */
@media screen and (max-width: 730px) and (min-width: 641px) {
  .slider-img {
    width: 85vw;
    height: 65vh;
  }
  .right-arrow {
    right: 0.2rem;
    font-size: 2.5rem;
  }
  .left-arrow {
    left: 0.2rem;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 821px) and (min-width: 731px) {
  .slider-img {
    width: 85vw;
    height: 65vh;
  }
  .right-arrow {
    right: 0.2rem;
    font-size: 3rem;
  }
  .left-arrow {
    left: 0.2rem;
    font-size: 3rem;
  }
}

/* for tablets to Laptop screens */
@media screen and (max-width: 1024px) and (min-width: 769px) {
}

/* for laptop to desktop or bigger screens */
@media screen and (max-width: 1280px) and (min-width: 1025px) {
}
