.app_schedule {
  padding: 8rem 0 0 2rem;
  background: var(--color-black);
}

.schedule-mainheader {
  margin-left: 20%;
  font-size: 4rem;
}

.schedules {
  margin-left: 18%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 65vw;
}

.timings {
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  margin: 6rem 5rem;
}

.mtop-3 {
  margin-top: 3rem;
}

/* for small to medium mobiles */
@media screen and (max-width: 361px) and (min-width: 320px) {
  .app_schedule {
    padding: 5rem 0 0 2rem;
  }
  .schedule-mainheader {
    margin-left: 25%;
    font-size: xx-large;
  }
  .schedules {
    margin: 0 0 0 0;
  }
  .timings {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60vw;
    height: 40vh;
  }
  .timings-day {
    font-size: larger;
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 400px) and (min-width: 362px) {
  .app_schedule {
    padding: 5rem 0 0 3rem;
  }
  .schedule-mainheader {
    margin-left: 25%;
    font-size: xx-large;
  }
  .schedules {
    margin: 0 0 0 0;
  }
  .timings {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60vw;
    height: 40vh;
  }
  .timings-day {
    font-size: larger;
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 440px) and (min-width: 401px) {
  .app_schedule {
    padding: 5rem 0 0 3rem;
  }
  .schedule-mainheader {
    margin-left: 25%;
    font-size: xx-large;
  }
  .schedules {
    margin: 0 0 0 0;
  }
  .timings {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60vw;
    height: 40vh;
  }
  .timings-day {
    font-size: larger;
    margin: 0 0 0 0;
  }
}

/* for medium to tablets */
@media screen and (max-width: 730px) and (min-width: 641px) {
  .app_schedule {
    padding: 5rem 0 0 8rem;
  }
}

@media screen and (max-width: 821px) and (min-width: 731px) {
  .app_schedule {
    padding: 5rem 0 0 8rem;
  }
}

/* for tablets to Laptop screens */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .timings {
    margin: 4rem 4rem;
  }
}

/* for laptop to desktop or bigger screens */
@media screen and (max-width: 1280px) and (min-width: 1025px) {
  .app_schedule{
    padding: 5rem 0 0 6rem ;
  }
    .timings {
    margin: 4rem 5rem;
  }
}
