.app_gym {
  padding: 2rem 0;
  background: var(--color-black);
  color: var(--color-white);
}

.gym-images {
  flex-wrap: wrap;
}

.gym-img {
  margin: 2rem 2rem;
  width: 40vw;
  height: 50vh;
}

.gym-link {
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
  background: var(--color-red);
  transition: 0.5s ease-in-out;
}

.gym-link:hover {
  background: var(--color-hover);
}

/* for small to medium mobiles */
@media screen and (max-width: 361px) and (min-width: 320px) {
  .gym-mainheader {
    font-size: larger;
  }
  .gym-img {
    width: 80vw;
    height: 50vh;
  }
  .gym-link {
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 400px) and (min-width: 362px) {
  .gym-mainheader {
    font-size: larger;
  }
  .gym-img {
    width: 80vw;
    height: 50vh;
  }
  .gym-link {
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 440px) and (min-width: 401px) {
  .app_gym {
    margin-top: 2rem;
  }
  .gym-mainheader {
    font-size: larger;
  }
  .gym-img {
    width: 80vw;
    height: 50vh;
  }
  .gym-link {
    padding: 1rem 1.5rem;
  }
}

/* for medium to tablets */
@media screen and (max-width: 730px) and (min-width: 641px) {
  .app_gym {
    margin-top: 2rem;
  }
  .gym-img {
    width: 80vw;
    height: 40vh;
  }
}

@media screen and (max-width: 821px) and (min-width: 731px) {
  .app_gym {
    margin-top: 2rem;
  }
  .gym-img {
    width: 80vw;
    height: 40vh;
  }
}

/* for tablets to Laptop screens */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .app_gym {
    margin-top: 2rem;
  }
  .gym-img {
    width: 40vw;
    height: 30vh;
  }
}

/* for laptop to desktop or bigger screens */
@media screen and (max-width: 1280px) and (min-width: 1025px) {
}
