body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex__center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.section_margin-top {
  margin-top: 3.75rem;
}

.font_head {
  font-family: var(--font-head);
}

.font_base {
  font-family: var(--font-base);
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}
